.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0.68rem 0 0.31rem 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.person {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 0.3rem;
  @media (min-width: 1024px) {
    display: none;
  }
}

.list {
  padding: 0.75rem 0;
  display: none;
  position: absolute;
  right: 7%;
  @media (min-width: 1024px) {
    display: flex;
  }
}

.list ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.list ul a {
  text-decoration: none;
  color: #858479;
  font-weight: 700;
}
