.containerHighlights {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.375rem;
  padding: 0 1rem 0 1rem;
}

.title {
  color: white;
  text-align: center;
}

.courses {
  width: 100%;
  flex-direction: column;
  display: flex;
  color: #858479;
}

.courseInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.9rem;
}

.courseInfo span {
  color: white;
}

.courseInfo p {
  width: 13rem;
  font-size: 0.875rem;
  text-align: start;
}

.lineDetails {
  border-bottom: 1px solid #1d1a05;
  margin-top: 0.6875rem;
}

.buttonSeePrograms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
}

.buttonSeePrograms button {
  border: none;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  background: transparent;
  letter-spacing: 1px;
}

.containerStar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.classification {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: row;
}

.containerStar p {
  display: flex;
  font-size: 0.75rem;
  width: 224px;
  font-weight: 700;
  color: white;
}

.warranty {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.warranty span {
  font-size: 0.875rem;
  color: #858479;
}
