.containerInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDesktop {
  @media (min-width: 1024px) {
    width: 80vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.buttonInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: #c5af19;
  border-radius: 5px;
  margin-top: 0.625rem;
  cursor: pointer;
  width: 95vw;
  @media (min-width: 1024px) {
    display: none;
  }
}

.buttonInformation button {
  border: none;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  background: transparent;
  letter-spacing: 1px;
}

.buttonInformationDesktop {
  display: none;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #c5af19;
  border-radius: 5px;
  margin-top: 0.625rem;
  cursor: pointer;
  width: auto;

  @media (min-width: 1024px) {
    display: flex;
    height: 2.5rem;
    width: 300px;
  }

  @media (min-width: 1440px) {
    width: 368px;
    height: 3rem;
  }
}

.buttonInformationDesktop button {
  border: none;
  color: white;
  font-size: 0.75rem;
  width: 368px;
  font-weight: 700;
  background: transparent;
  letter-spacing: 1px;

  @media (min-width: 1440px) {
    font-size: 1rem;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
  @media (min-width: 1024px) {
    margin-top: 0;
  }
}

.icons img {
  width: 3rem;
  height: 3rem;
  @media (min-width: 1440px) {
    width: 5rem;
    height: 5rem;
  }
}

.icon2 {
  @media (min-width: 1024px) {
    position: absolute;
    width: 80vw;
    left: 40%;
    transform: translateX(-40%);
  }
}

.informationsIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 1rem;
  }
}

.informationsIcon :nth-child(2) {
  color: white;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  text-align: center;
  @media (min-width: 1440px) {
    font-size: 1.25rem;
  }
}

.textInformation {
  width: 20rem;
  text-align: center;
  margin-top: 2rem;
  color: white;

  @media (min-width: 1024px) {
    display: none;
  }
}

.buttonQuestions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 2.5rem;
  cursor: pointer;
  width: 95%;
  @media (min-width: 1024px) {
    display: none;
  }
}

.buttonQuestions button {
  border: none;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  background: transparent;
  letter-spacing: 1px;
}

.textAppeal {
  text-align: center;
  margin-top: 2.5rem;
  color: white;
  width: 90%;

  @media (min-width: 1024px) {
    display: none;
  }
}

.textAppeal :nth-child(2) {
  text-align: center;
  margin-top: 1rem;
  color: #858479;
  font-size: 0.875rem;
}

.iconsSucess {
  display: flex;
  width: 95%;
  padding: 1rem;
  justify-content: space-between;
  @media (min-width: 1024px) {
    justify-content: center;

    gap: 7rem;
  }
}

.iconSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconSettings img {
  width: 2rem;
  height: 2rem;
  @media (min-width: 1440px) {
    width: 3.05rem;
    height: 3.43125rem;
  }
}

.iconSettings span {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 0.3rem;
  color: white;
  @media (min-width: 1440px) {
    font-size: 1.25rem;
  }
}

.titleDesktop h2 {
  @media (min-width: 1024px) {
    font-size: 1.75rem;
    color: #d8d7ce;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 2.5rem;
  }
}

.buttonInformationDesktop2 {
  display: none;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #c5af19;
  border-radius: 5px;
  margin-top: 0.625rem;
  cursor: pointer;
  width: auto;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.buttonInformationDesktop2 button {
  border: none;
  color: white;
  font-size: 0.75rem;
  width: 368px;
  font-weight: 700;
  background: transparent;
  letter-spacing: 1px;

  @media (min-width: 1440px) {
    font-size: 1rem;
  }
}
